.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: white;
}

.footer__content {
  padding-bottom: 108px;
  padding-top: 60px;
  margin-left: 80px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__social-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__list {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__list-item {
  padding-bottom: 16px;
  list-style: none;
}

.footer__list-item:last-child {
  padding: 0;
}

.footer__social-icon {
  padding-right: 10px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-left: 80px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 60px;
}
