.header {
  height: 100vh;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin-left: 80px;
  margin-top: 80px;
  color: #000000;
  margin-bottom: 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  padding-top: 28px;
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__paragraph {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 40px;
  position: absolute;
  color: #6f6f6f;
  width: 100%;
}
.header__paragraph-hours {
  padding-left: 80px;
}

.header__paragraph-hours-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.header__paragraph-address {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
  margin-right: 80px;
  margin-top: 0;

  z-index: 1;
}
