.header {
  height: 100vh;
  min-height: 720px;
  max-width: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
}

.header__title {
  margin-left: 80px;
}

.header__span-accent {
}

.header__description {
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__paragraph {
  display: flex;
}

.header__footer {
}

.header__address {
}
