.recipes {
  background-color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 400px;
  padding-top: 24px;
  margin-left: 80px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes__video {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 215px;
  gap: 40px;
}

.receipes__video-iframe-aeropress {
  width: 480px;
  height: 273px;
  border: none;
}

.receipes__video-iframe-frenchpress {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}
