.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
}

.reservation__title {
  padding-top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  color: #000000;
}

.reservation__form {
  column-gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form__fieldset {
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
  width: 393px;
  height: 20px;
}

.form__input {
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  width: 385px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.form__button {
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #2f80ed;
  margin-top: 32px;
  width: 393px;
  height: 60px;
  opacity: 1;
}

.form__input_type_checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__button:hover {
  opacity: 0.7;
  transition: opacity 1s ease-out;
}
